{% extends "layouts/base.html" %}
{% from "macros/macros.html" import icon %}

{% block body %}
<div id="app" class="flex flex-col min-h-screen min-w-screen pb-10">
    <h1 class="p-4 text-2xl font-bold bg-orange-500 shadow-lg mb-10">Récupération des pulls</h1>

    <div class="flex flex-col items-center space-y-12">
        <div class="text-xl w-max">
            <form action="#" class="w-max flex flex-col md:flex-row">
                <label for="email" class="px-2">Email utilisé pour la commande:</label>
                <input autofocus id="email" class="px-1" :class="emailValid ? 'border' : 'border-orange-500 border-2'" type="email" v-model="email" @input="checkEmail">
{#                <button type="submit" @click="checkEmail" class="rounded-full bg-orange-500 p-2">Continuer</button>#}
            </form>
        </div>
        <div v-if="emailValid" class="flex items-center flex-col">
            <div class="flex flex-wrap justify-center ml-2 mb-2">
                <button class="p-2 mr-2 mb-2" v-for="date in dates" @click="setDate(date)"
                        :class="[colorForDate(date), {'font-bold': dateSelected === date}]">
                    [[ niceDate(date) ]]</button>
            </div>

            <div class="flex flex-wrap p-4 justify-center ml-2 md:w-2/3 mb-4">
                <button class="flex flex-col w-max bg-orange-200 p-2 mr-2 mb-2" v-for="slot in slotsForSelectedDate"
                        :class="colorFor(slot)" @click="reserve(slot)">
                    <span> [[ slot.time.h ]]:[[ slot.time.m ]]</span>
                    <span>([[ slot.capacity - slot.attending ]] places)</span>
                </button>
            </div>

            <div v-if="bookedSlot" class="text-center text-xl">
                Tu peux récupérer ton pull le <strong>[[ niceDate(bookedSlot.date) ]]</strong>,
                à <strong>[[ bookedSlot.time.h ]]:[[ bookedSlot.time.m ]]</strong>. <br>
                La distribution se fait au premier étage du batiment MA, à coté des casiers. <br>
                Un membre de CQFD t'y attendra, alors merci d'être à l'heure ;-)
                <br><br>
                Il est obligatoire de porter le masque à l'EPFL, et n'hésitez pas à récupérer les pulls de vos amis.
            </div>
        </div>
    </div>

    <a href="https://therandom.space/showcase" class="absolute right-2 text-sm bottom-2 text-orange-500">Made by @ddorn</a>
    <div :class="showErrorMsg ? 'opacity-100': 'opacity-0'" class="fixed bottom-4 mx-4 p-2 bg-red-200 transition-opacity rounded w-auto">[[ errorMsg ]]</div>
</div>

<script>
    'use strict';

    const DAYS = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
    const MONTHS = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décmembre']


    function newItem(name, categ) {
        return {
            name, categ,
            done: false,
            id: null,
        }
    }

    const App = {
        data() {
            return {
                email: '',
                emailValid: false,
                slots: [],
                dateSelected: null,
                slotRegisteredId: null,
                errorMsg: '',
                showErrorMsg: false,
            }
        },
        computed: {
            dates() {
                let s = new Set(this.slots.map(s => s.day.toISOString()))
                let a = new Array(...s);
                return a.map(s => new Date(s))
            },
            slotsForSelectedDate() {
                if (this.dateSelected === null) return [];
                return this.slots.filter(s => s.day.toISOString() === this.dateSelected.toISOString());
            },
            bookedSlot() { return this.getSlotById(this.slotRegisteredId) }
        },
        methods: {
            checkEmail() {
                fetch("/api/exists?email=" + this.email).then(r => r.json().then(d => {
                    this.emailValid = d;
                    if (d) {
                        fetch("/api/booked?email=" + this.email).then(r => r.json().then(d => {
                            this.slotRegisteredId = d
                            if (d !== null) {
                                this.dateSelected = this.bookedSlot.day
                            }
                    }))
                    }
                    {#if (!d) alert("Cet email n'est utilisé pour aucune commande... Verifie qu'il est correct ou essaye un autre email.")#}
                }))
            },
            niceDate(date) {
                return DAYS[date.getDay()] + ' ' + date.getDate() + ' ' + MONTHS[date.getMonth()]
            },
            setDate(date) { this.dateSelected = date; },
            getSlotById(id) { return this.slots.find(s => s.id === id)},
            colorFor(slot) {
                if (slot.id === this.slotRegisteredId) return "bg-blue-200";
                if (slot.capacity === slot.attending) { return "bg-red-200"; }
                else if (slot.attending === 0){ return "bg-green-200"; }
                else {return "bg-orange-200"; }
            },
            colorForDate(date) {
                let current = this.getSlotById(this.slotRegisteredId)
                if (current && current.day.toISOString() === date.toISOString()) return "bg-blue-200";
                else return "bg-orange-200";
            },
            reserve(slot) {
                fetch(`/api/slot/${slot.id}?email=` + this.email, { method: "PUT"})
                    .then(response => {
                        if (response.ok) {
                            response.json().then(data => {
                                if ('details' in data) return showError(data.details);
                                slot.attending = data.current.attending;
                                this.slotRegisteredId = slot.id;
                                if (data.previous) {
                                    let prev = this.getSlotById(data.previous.id)
                                    prev.attending = data.previous.attending;
                                }
                            })
                        } else {  // Not ok
                            response.json().then(data => {
                                this.showError(data.detail);
                            })
                        }
                    })
            },
            showError(msg) {
                this.errorMsg = msg;
                this.showErrorMsg = true
                setTimeout(() => this.showErrorMsg = false, 1000 * 4)
            },
        },
        created() {
            fetch("/api").then(r => r.json().then(d => this.slots = d.map(s => {
                s.date = new Date(s.start);
                let h = s.date.getHours(),
                    m = s.date.getMinutes();
                s.time = {h: h < 10 ? '0' + h : h, m: m < 10 ? '0' + m : m};
                s.day = new Date(s.date.toISOString().slice(0, 10));
                return s;
            })));
        },
        mounted() {
            document.getElementById('email').focus()
        },
        delimiters: ['[[', ']]'],
    }

    const vm = Vue.createApp(App);
    vm.mount('#app')
</script>
{% endblock %}